In [1]:
import numpy as np
import pandas as pd

In [11]:
# == CODIGO 1 == #
Z = np.zeros((4, ))
print("Z:", Z)

Z: [0. 0. 0. 0.]

In [12]:
# == CODIGO 2 == #
Z = np.zeros((4, ))
Z[1] = 1.
print("Z:", Z)

Z: [0. 1. 0. 0.]

In [13]:
# == CODIGO 3 == #
Z = np.zeros((4, ))
Z[1:] = 1.
print("Z:", Z)

Z: [0. 1. 1. 1.]

In [22]:
# == CODIGO 4 == #
Z = np.zeros((4, ))
Z[:-1] = 1.
print("Z:", Z)

Z: [1. 1. 1. 0.]

In [28]:
Z = np.ones((4, ))
Z[-1] = 0
print("Z:", Z)

Z: [1. 1. 1. 0.]

In [15]:
# == CODIGO 5 == #
arr = [[2. , 2.], [2. , 2.]]
X = np.array(arr)
print("X:\n", X)

X:
 [[2. 2.]
 [2. 2.]]

In [32]:
X = np.ones((2, 2)) + np.ones((2, 2))
# or
X = np.array([2.] * 4).reshape(2, 2)
# or
X = 2 * np.ones((2, 2))
print("X:\n", X)

AttributeError: module 'numpy' has no attribute 'twos'

In [16]:
# == CODIGO 6 == #
X = np.array([[1,2], [3,4]])
Y = X[0, :]
Y[1] = 10
print("X:\n", X)

X:
 [[ 1 10]
 [ 3  4]]

In [17]:
# == CODIGO 7 == #
X = np.array([[1,3], [11, 10]])
print(np.mean(X[X > np.pi]))

10.5

In [18]:
# == CODIGO 8 == #
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [20]:
# == CODIGO 9 == #
df = pd.DataFrame(data = data, index = labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [21]:
# == CODIGO 10 == #
y_true = np.array([1., 2., 1.])
y_pred = np.array([1.1, 1.98, 1.05])